---
---
.circle-image1 {
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.navbar-font {
    font-size: 1.5rem;
}

.profile-font {
    font-size: 1.5rem;
}

.social-font {
    font-size: 2rem;
}

@import "portfolYOU";
